button {
  border: none;
  background-color: #eee;
  padding: 0.5rem 1rem;
  margin: 0 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

button:hover {
  background-color: #ddd;
}

button.active {
  color: white;
  background-color: #6899a7;
}

.movies {
  padding: 2rem 5rem;
}
